<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Project Skeleton</title>
    <link rel="icon" href="{{url_for('static', filename='img/icon/icon.png') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="page-container">
      <div id="content" class="row">
      </div>
    </div>
    {% block bodyscript %}
    {% endblock %}
  </body>
</html>
